# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Navio Client
Exec=electrum %u
GenericName[en_US]=Navio Wallet
GenericName=Navio Wallet
Icon=electrum
Name[en_US]=Navio Electrum Wallet
Name=Navio Electrum Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/navio;x-scheme-handler/lightning;x-scheme-handler/lnurlp;x-scheme-handler/lnurlw;
Actions=Testnet;
Keywords=crypto;currency;BTC

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
